$light-yellow: hsl(40, 84%, 53%);
$dark-yellow: hsl(39, 89%, 49%);

$light-blue: hsl(230, 89%, 65%);
$dark-blue: hsl(230, 89%, 62%);

$light-red: hsl(349, 70%, 56%);
$dark-red: hsl(349, 71%, 52%);

$btn_bg: hsl(214, 47%, 23%);

$dark_text: hsl(229, 25%, 31%);
$score_text: hsl(229, 64%, 46%);
$header_outline: hsl(217, 16%, 45%);

$radial_gradient: linear-gradient(#1f3756, #141539);

$base_border_radius: 5px;

$font-weight-regular: 500;
$font-weight-medium: 700;
$font-weight-bold: 900;

$font-size: (
  "s": 13px,
  "m": 16px,
  "l": 30px,
  "vl": 40px,
);
